* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#container>* {
    float: left;
}

.container-asset {
    padding: 2vh;
    background-color: #121212;
    border-radius: 2vh;
}

a {
    color: white;
    text-decoration: none;
}

.logo {
    filter: grayscale(100%) brightness(200%);
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.profile * {
    margin-bottom: 2vh;
}

.profile .logo {
    width: 10vw;
}

.pic {
    border: gray solid .7vh;
    border-radius: 50%;
    height: 40vh;
    width: 40vh;
}

.logout {
    width: 5vw;
    aspect-ratio: 4/1;
    border-radius: 100vh;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-btn {
    margin-top: 10%;
    width: 60%;
    aspect-ratio: 4/1;
    background-color: #1db954;
    border: none;
    border-radius: 100vh;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .3s;
    font-size: 4vh;
}

.login-btn:hover {
    background-color: #1ed760;
}

.right {
    margin-left: 1vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

#playlist-list {
    height: 47vh;
    overflow-y: scroll;
    margin-bottom: 1vw;
}

.playlist {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 1vh;
    background-color: #1d1d1d;
    margin-bottom: 1vh;
}

.playlist:hover {
    filter: opacity(80%);
    cursor: pointer;
}

.playlist:last-child {
    margin-bottom: 0;
}

.pl-image {
    height: 4vw;
    width: 4vw;
}

.pl-name {
    padding-left: 1vw;
    padding-right: 1vw;
}

.set-pl {
    background: linear-gradient(270deg, #1db954 80%, #0000 100%);
}
